*{
    margin: 0;
    box-sizing: border-box;

}

nav{
    height: 50px;
    width: 100%;
    border: 2px solid black;
    background-color: black;
    display: flex;
}

section{
    display: flex;
    justify-content: center;
    align-items: center;
    

}

#one{
    /* border: 2px solid red; */
    flex-basis: 5%;

}

#two{
    /* border: 2px solid red; */
    flex-basis: 70%;
    justify-content: space-evenly;

}

#three{
    /* border: 2px solid red; */
    flex-basis: 25%;
    justify-content: space-evenly;

}

img{
    height: 45px;
    width: 50px;
}

a{
    color: white;
    text-decoration: none;
}

input{
    border-radius: 10px;
}

button{
    text-transform: uppercase;
    border-radius: 10px;
    background-color: royalblue;
    color: white;

}